@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@100&display=swap');

* {
   margin: 0 auto;
   padding: 0 auto;
   box-sizing: border-box;
   font-family: 'Poppins';
   text-decoration: none;
   list-style: none;
   /*color: white;*/
}

html {
   scroll-behavior: smooth;
   scroll-padding-top: 100px;
}


body {
   width: 100vw;
   color: var(--black);
}

:root {
   --black: #000000;
   --white: #FFFFFF;
   --coffee: #715035;
}

.section-title {
   margin: 0 auto;
   padding: 0 auto;
   font-weight: bold;
   font-size: 32px;
}

.content {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin: 0 auto;
   padding: 0 auto;
   color: white;
}

.banner {
   color: var(--white);
   background-color: var(--black);
   padding: 200px 100px 100px;
   min-height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.banner .coffee-container {
   max-width: 700px;
}

.banner img {
   max-width: 400px;
   margin-left: 50px;
}

.banner .coffee-container h1 {
   font-size: 7em;
}

.banner .coffee-container p {
  font-size: 3em;
}

.banner .coffee-container a {
   display: inline-block;
   background: var(--coffee);
   padding: 8px 20px;
   text-decoration: none;
   font-weight: 600;
   margin-top: 20px;
   border-radius: 50px;
}

header {
   margin: 0 auto;
   width: 100%;
   height: 50vh;
   padding: 0px 80px 0px 50px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   transition: all .3s ease-in-out;
}

nav {
   background-color: var(--black);
   margin: 0 auto;
   max-width: 100vw;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 80px 0px 50px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   transition: all .3s ease-in-out;
}

.navbar-list {
   gap: 50px;
}

.navbar i {
   font-size: 40px;
   color: white;
   cursor: pointer;
   display: none;
}

.navbar-list li:last-child>a {
   border: 1px solid white;
   font-size: 14px;
   padding: 8px 40px;
   border-radius: 3px;
   transition: all 0.3s linear;
}

.navbar-list li:last-child>a:hover {
   background-color: var(--coffee);
   color: var(--black);
   transition: all 0.3s linear;
   font-weight: 700;
}

#toggle-menu {
   display: none;
}


.menu {
   flex-wrap: nowrap;
   justify-content: space-around;

}

.container-items {
   display: flex;
   justify-content: flex-end;
   gap: 50px;

}

.item {
   display: flex;
   padding: 20px;
   color: white;
}

.logo-container {
   height: 100%;
   display: flex;
   align-items: center;
}

.logo {
   width: 150px;
   margin-left: 20px;
   vertical-align: middle;
   float: left;
   padding-top: 1rem;
   list-style: none;
}

a {
   text-decoration: none;
   color: white;
}

a:hover {
   color: var(--coffee);
   transition: all 0.4s linear;
   cursor: pointer;

}


main {
   background-color: #000000;
}


.section {
   margin: 0 auto;
   width: 95%;
   max-width: 1300px;
   color: white;
}

.section-title {
   font-size: 100px;
   font-weight: bolder;
   text-align: center;
   padding-top: 8rem;
}

.section-container {
   gap: 20px;
   padding-top: 3rem;
   background-color: var(--black);
   margin: 0 auto;
}


/* About US */

#about-us {
   padding-top: 10rem;
   padding-bottom: 8rem;
}

.about-container {
   display: flex;
   flex-direction: row;
}

.about-title {
   margin: 0 auto;
   font-size: 50px;
   text-align: center;
   font-weight: bold;
} 

.about-img {
   width: 30%;
   height: 90%;
}

.about-text {
   width: 70%;
   text-align: center;
   padding: auto;
   margin: auto;
}

/* Locales */

.store-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 50px;
   padding-top: 5rem;
}

.store-card {
   text-align: center;
   margin: 0 auto;
   padding: 0 auto;

}

.store-img {
   width: 300px;
   height: 400px;
   margin: 0 auto;
   border-radius: 5px;
}

.store-location {
   text-align: center;
   margin: 0 auto;
   padding: 0 auto;
}

.title-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.store-title {
   font-size: 50px;
}

/* Clientes */

.clients-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 98vw;
   margin: 0;
   padding-top: 5rem;
   padding-bottom: 5rem;

}

.client-title {
   padding-top: 10rem;
   font-size: 50px;
   color: var(--white);
}

.client {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 80vh;
   border-radius: 50px;
   cursor: pointer;
   flex: 1;
   margin: 10px;
   transition: flex 0.7s ease-in;
}

.client h4 {
   color: var(--white);
   font-weight: 700;
  font-size: 18px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  position: static;
  background: black;
  color: white;
}

.client.active {
   flex: 5;
 }
 
 .client.active h4 {
   opacity: 1;
   transition: opacity 0.3s ease-in 0.4s;
 }

/* Contacto */ 
.contact-title {
   color: var(--white);
   padding-top: 2rem;
   font-size: 50px;
}



.contact-container {
   width: 80%;
   display: flex;
   padding: 20px 60px 40px 40px;
   
}

.contact-container .content {
   display: flex;
   justify-content: space-between;
}

.contact-container .content .left-side {
   width: 25%;
   height: 100%;
   margin-top: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.contact-container .content .left-side .details {
   margin: 14px;
   text-align: center;

}

.contact-container .content .left-side .details .text-one,
.contact-container .content .left-side .details .text-two {
   font-size: 14px;
   color: dimgrey;

}

.contact-container .content .left-side .details i {
   font-size: 30px;
   color: var(--coffee);
   margin-bottom: 10px;
}

.contact-container .content .left-side .details .topic {
   font-size: 30px;
   font-weight: 500;
   font-family: 'Monserrat', sans-serif;
}

.contact-container .content .right-side {
   width: 75%;
   margin-left: 75px;
}

.content .right-side .topic-text {
   font-family: 'Monserrat', sans-serif;
   font-size: 40px;
   font-weight: 600;
   color: var(--coffee);
}

.right-side .input-box {
   height: 50px;
   width: 100%;
   margin: 12px 0;
   
}

.right-side .input-box input,
.right-side .input-box textarea {
   height: 100%;
   width: 100%;
   border: none;
   font-size: 15px;
   font-weight: 500;
   background: #F0F1F8;
   border-radius: 6px;
   padding: 0 1px 15px;
   resize: none;
}

.right-side .message-box {
   min-height: 110px;
   margin-top: 6px;
}

.right-side .button {
  margin-top: 6px;
  display: inline-block;
}

.right-side .button input[type="button"] {
   color: #FFFFFF;
   font-size: 18px;
   background: var(--coffee);
   outline: none;
   border: none;
   border-radius: 10px;
   padding: 9px 18px;
   cursor: pointer;
   transition: all 0.3s ease;

}

/* Footer */

.pie-pagina{
   width: 100%;
   background-color: var(--black);
}
.pie-pagina .pie-1{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap:50px;
   padding: 45px 0px;
}
.pie-pagina .pie-1 .box figure{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pie-pagina .pie-1 .box figure img{
   width: 250px;
}
.pie-pagina .pie-1 .box h2{
   color: #fff;
   margin-bottom: 25px;
   font-size: 20px;
}
.pie-pagina .pie-1 .box p{
   color: #efefef;
   margin-bottom: 10px;
}
.pie-pagina .pie-1 .red-social a{
   display: inline-block;
   text-decoration: none;
   width: 45px;
   height: 45px;
   line-height: 45px;
   color: #fff;
   margin-right: 10px;
   background-color: var(--black);
   text-align: center;
   transition: all 300ms ease;
}
.pie-pagina .pie-1 .red-social a:hover{
   color: var(--coffee);
}
.pie-pagina .pie-2{
   background-color: var(--coffee);
   padding: 15px 10px;
   text-align: center;
   color: #fff;
}
.pie-pagina .pie-2 small{
   font-size: 15px;
}

.social {
   gap: 3rem;
}

/* Media Queries */

@media (max-width:991px){
   .banner {
      padding: 150px 20px 50px;
      flex-direction: column-reverse;
   }

   .banner img {
      margin-left: 0;
      max-width: 80%;
   }
}

@media screen and (max-width:800px){
   .pie-pagina .grupo-1{
       width: 90%;
       grid-template-columns: repeat(1, 1fr);
       grid-gap:30px;
       padding: 35px 0px;
   }
}


@media (max-width: 768px) {

   body {
      width: 100vw;
   }

   .header {
      padding: 0px 50px 0px 10px;
    }
    .navbar i {
      display: block;
    }
    .navbar-list {
      position: fixed;
      background-color: var(--black);
      flex-direction: column;
      top: 100px;
      right: 0;
      width: 100%;
      height: calc(100vh - 100px);
      display: none;
      z-index: 9999;
    }
  
    #toggle-menu:checked + .navbar-list {
      display: flex;

    }

   .description-container {
      justify-content: center;
      align-items: center;
    }
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

   #about-us {
      flex-direction: column;
      gap: 20px;
    }

    /* Locales */

    #store {
      flex-direction: column;
      gap: max(120px, 10%);
    }
    
    .title-container {
      display: flex;
      justify-content: space-around;
      gap: 25%;
      width: 100%;
    }
    
    .store-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 75%;
      gap: 90px;
    }
    
    .store-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: var(--grey);
      text-align: center;
      width: 250px;
      height: 160px;
      position: relative;
      padding-top: 50px;
    }
    
    .store-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 70px;
      font-weight: 300;
      position: absolute;
      top: -50px;
      background-size: cover;
    }

    .clients-container {
      width: 100vw;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .client-title {
      width: 60vw;
      height: auto;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .store-title {
      width: 60vw;
      height: auto;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
}

@media (max-width: 368px) {

   header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
   }
   .banner img {
      max-width: 30px;
   }

   .coffee-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
   }

   .clients-container {
     margin: 40px;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }

   .clients-container.content {
      display: flex;
      flex-wrap: wrap;
   }

   .clients-container.content.left-side {
      width: 100%;
      margin-top: 40px;
   }

   .client {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
    
   .client-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
  
 }

